body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 23px;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--black);
	scroll-behavior: smooth;

}

html {
		scroll-behavior: smooth;

}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


:root {
	--blue: #00BFE9;
	--black: #3E3E3E;
	--darkblue: #002235;

}

.hero {
	width: 100%;
	height: 100vh;
	min-height: 700px;
	background-color: blue;
	background: url(img/heroPhoto.jpg)no-repeat top center #000;
	background-size: cover;
	overflow: hidden;
}

.herograd {
	background: linear-gradient(67.84deg, rgba(0, 34, 53, 0.85) 33.22%, rgba(0, 0, 0, 0) 87.43%);
	width: 100%;
	height: 100vh;
	min-height: 700px;
}

.holder {
	width: 85%;
	max-width: 960px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}

.gradHolder {
	width: 85%;
	max-width: 960px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	height: 100%; 
	align-items: flex-end;
}

.heroTitle {
	color: var(--blue);
	font-family: PT Serif;
	font-weight: 700;
	font-size: 52px;
	line-height: 105.5%;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.heroDesc {
	font-size: 23px;
	line-height: 128.5%;
	color: white;
	margin-top: 36px;
	margin-bottom: 75px;
}

.heroHolder {
	margin-bottom: 95px;
	width: 500px;
}

.tech-slideshow {
  height: 537px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: url(img/bluebg.png) repeat-x bottom;
}

.tech-slideshow > div {
  height: 537px;
  width: 3918px;
  background: url(img/jobs.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 47s linear infinite;

}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50%);  
  }
}

.heroButt {
	border: 2px solid var(--blue);
	border-radius: 3px;
	display: inline-block;
	padding: 12px 25px;
	color: var(--blue);
}

.heroButt:hover {
	background-color: var(--blue);
	color: white;
	transition: .5s all;
}

.column {
	flex-direction: column;
}

.title {
	font-family: PT Serif;
	font-weight: 700;
	font-size: 37px;
	line-height: 46px;
	text-align: center;
	color: var(--black);
}

.titleSmall {
	font-family: PT Serif;
	font-weight: 700;
	font-size: 37px;
	line-height: 46px;
	color: white;
}

.threeSquare {
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.square {
	border: 1px solid #BFBFBF;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	min-width: 200px;
}

.map {
	margin: 46px 0px;
}

.half {
	width: 47%;
	padding-bottom: 15px !important;
}

.square:hover {
	border: 1px solid var(--blue);
	transition: .5s all;
}


.squareTitle {
margin-bottom: 35px;
}

.contactsvg {
	width: 65px;
}

.squaresvg {
	width: 35%;
}

.desc {
	padding-top: 18px;
	max-width: 770px;
	text-align: center;
	margin: 0 auto;
}

.blueTech {
	background: url(img/blueTech.jpg) no-repeat center -100px;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 190px;
}

.techLeft {
	width: 48%;
	min-width: 350px;
}

.techRight {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-top: 13px;
}

.techButton {
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-size: 22px;
	color: white;
	display: flex;
	padding: 20px 35px;
	margin-bottom: 20px;
		transition: .5s all;
}

.techButton:hover {
	border: 1px solid var(--blue);
	transition: .5s all;
}

.techsvg {
	height: 30px;
	margin-right: 30px;
}

.service {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 135px;
	font-size: 19px;
}

.servTitle {
	font-family: PT Serif;
	font-weight: bold;
	font-size: 37px;
	line-height: 46px;
	padding-bottom: 14px;
	border-bottom: 4px solid var(--blue);
}

.servLeft {
	width: 45%;
}

.servRight {
	width: 45%;
}

.servRight img {
	border-radius: 10px;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.15);
	width: 100%;
}

.reverse {
	flex-wrap: wrap-reverse;
}

.navMaster {
background-color: var(--black);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
}


.navSpacer {
height: 60px;
}

.navMasterHolder {
	display: flex;
	width: 85%;
	max-width: 1060px;
	padding: 10px 0px;
	align-items: center;
	justify-content: space-between;
}


.navItem {
	margin-left: 60px;
	font-size: 17px;
	font-weight: 700;
	color: white;
}

.navItem:hover {
color: var(--blue);
text-decoration: underline;
transition: .3s all;
}


.items {
	display: flex;
}

.contactBlue {
	background-color: #002235;
	padding: 90px 0px;
}

.contactDesc {
	line-height: 36px;
	color: white;
	margin-top: 10px;
	margin-bottom: 30px;
}

.formHolder {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}


.inputter {
	flex: 0 49%;
}

input[type=text],input[type=email],textarea  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  border-radius: 3px;
  border:2px solid #002235;
  font-family: PT Sans;
}

input[type=text]:focus,input[type=email]:focus,textarea:focus, select:focus {
 border:2px solid var(--blue);
   outline: none;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  border-radius: 3px;
  border:2px solid #002235;
  font-family: PT Sans;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(img/drop.svg) no-repeat 98% center #fff;
}


button {
	border: 2px solid var(--blue);
	border-radius: 3px;
	display: inline-block;
	padding: 12px 25px;
	color: var(--blue);
	background-color: #002235;
	font-size: 17px;
	width: 100%;
	font-family: PT Sans;
}

button:hover {
	background-color: var(--blue);
	color: white;
	transition: .3s all;
}

.footer {
	max-width: 1060px;
	display: flex;
	font-size: 15px;
	color: white;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	padding: 0px 20px;
	margin: 0 auto;
}

.footerLeft {
	display: flex;
	flex-direction: row;
}

.footerItem {
	padding: 15px 30px;
	color: inherit;
}



/*MOBILE */
@media screen and (max-width: 600px) {


body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 27px;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--black);
}

.items {
	display: none;
}

.herograd {
		background: linear-gradient(67.84deg, rgba(0, 34, 53, 0.85) 53.22%, rgba(0, 0, 0, 0) 87.43%);

}

.threeSquare {
	flex-direction: column;
}

.square {
	width: 100%;
	margin-bottom: 20px;
}

.blueMobile {
	flex-direction: column;
	text-align: center;
}

.techLeft {
width: 100%;
text-align: center !important;
}

.techRight {
	width: 100%;
	margin-top: 70px;
}

.techsvg {
height: 60px;
margin-right: 60px;
}

.desc {
	text-align: left;
	margin-top: 40px;
}

.servLeft, .servRight {
	width: 100%;
	margin-bottom: 20px;
}

.service {
	flex-direction: column;
}

.desc {
	padding-right: 30px;
}

.servTitle {
	text-align: center;
}

.switcharoo {
	flex-direction: column-reverse;
}

button {
font-size: 30px;
}

.inputter {
	flex: 0 100%;
}

input[type=text],input[type=email],textarea  {
  margin: 15px 0;
  font-size: 27px;
}

select {

  margin: 15px 0;
  font-size: 30px;
  background: url(img/drop.svg) no-repeat 95% center #fff;
  background-size: 60px;
}



}